<td>
<%= take_cards ? "<input type='button' id='take_cards' value='Take Cards' />" : "" %>
<%= next ? "<input type='button' id='next' value='Next' />" : "" %>
<%= new_game ? "<input type='button' id='new_game' value='New Game' />" : "" %>
</td>