// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  background-color: #E5E5FF;
  width: 100px;
  align: center;
  border-collapse: collapse;
  border: 1px solid #898999;
}

div#deck-cards, div#player-cards {
  float: left;
  display: inline;
  width: 120px;
}
