// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0; 
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 99%;
  min-width: 980px;
  height: 99%;
}

#game {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

#computer-cards {
  display: block;
  width: 980px;
  height: 170px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#deck-pile-wrapper {
  display: inline-block;
  width: 320px;
  height: 400px;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

#deck-cards {
  display: block;
  width: 300px;
  height: 170px;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

#pile-cards {
  display: block;
  width: 120px;
  height: 170px;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

#table-cards {
  display: inline-block;
  width: 980px;
  height: 400px;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

#trump-card {
  display: inline-block;
  width: 120px;
  height: 400px;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

#message {
  display: block;
  width: 980px;
  height: 60px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#buttons {
  display: block;
  width: 980px;
  height: 60px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#player-cards {
  display: block;
  width: 980px;
  height: 170px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.card-Ah, .card-6h, .card-7h, .card-8h, .card-9h, .card-10h, .card-Jh, .card-Qh, .card-Kh,
.card-As, .card-6s, .card-7s, .card-8s, .card-9s, .card-10s, .card-Js, .card-Qs, .card-Ks,
.card-Ad, .card-6d, .card-7d, .card-8d, .card-9d, .card-10d, .card-Jd, .card-Qd, .card-Kd,
.card-Ac, .card-6c, .card-7c, .card-8c, .card-9c, .card-10c, .card-Jc, .card-Qc, .card-Kc,
.card-back-a, .card-back-i {
  display: inline-block;
  float: left;
  width: 114px;
  height: 161px;
  margin: auto;
}

.card-Ah { background: url('oxygen.png') -13px -8px no-repeat; }
.card-6h { background: url('oxygen.png') -134px -8px no-repeat; }
.card-7h { background: url('oxygen.png') -255px -8px no-repeat; }
.card-8h { background: url('oxygen.png') -376px -8px no-repeat; }
.card-9h { background: url('oxygen.png') -497px -8px no-repeat; }
.card-10h { background: url('oxygen.png') -619px -8px no-repeat; }
.card-Jh { background: url('oxygen.png') -740px -8px no-repeat; }
.card-Qh { background: url('oxygen.png') -861px -8px no-repeat; }
.card-Kh { background: url('oxygen.png') -982px -8px no-repeat; }

.card-As { background: url('oxygen.png') -13px -175px no-repeat; }
.card-6s { background: url('oxygen.png') -134px -175px no-repeat; }
.card-7s { background: url('oxygen.png') -255px -175px no-repeat; }
.card-8s { background: url('oxygen.png') -376px -175px no-repeat; }
.card-9s { background: url('oxygen.png') -497px -175px no-repeat; }
.card-10s { background: url('oxygen.png') -619px -175px no-repeat; }
.card-Js { background: url('oxygen.png') -740px -175px no-repeat; }
.card-Qs { background: url('oxygen.png') -861px -175px no-repeat; }
.card-Ks { background: url('oxygen.png') -982px -175px no-repeat; }

.card-Ad { background: url('oxygen.png') -13px -344px no-repeat; }
.card-6d { background: url('oxygen.png') -134px -344px no-repeat; }
.card-7d { background: url('oxygen.png') -255px -344px no-repeat; }
.card-8d { background: url('oxygen.png') -376px -344px no-repeat; }
.card-9d { background: url('oxygen.png') -497px -344px no-repeat; }
.card-10d { background: url('oxygen.png') -619px -344px no-repeat; }
.card-Jd { background: url('oxygen.png') -740px -344px no-repeat; }
.card-Qd { background: url('oxygen.png') -861px -344px no-repeat; }
.card-Kd { background: url('oxygen.png') -982px -344px no-repeat; }

.card-Ac { background: url('oxygen.png') -13px -511px no-repeat; }
.card-6c { background: url('oxygen.png') -134px -511px no-repeat; }
.card-7c { background: url('oxygen.png') -255px -511px no-repeat; }
.card-8c { background: url('oxygen.png') -376px -511px no-repeat; }
.card-9c { background: url('oxygen.png') -497px -511px no-repeat; }
.card-10c { background: url('oxygen.png') -619px -511px no-repeat; }
.card-Jc { background: url('oxygen.png') -740px -511px no-repeat; }
.card-Qc { background: url('oxygen.png') -861px -511px no-repeat; }
.card-Kc { background: url('oxygen.png') -982px -511px no-repeat; }

.card-back-a { background: url('oxygen.png') -13px -679px no-repeat; }
.card-back-i { background: url('oxygen.png') -134px -679px no-repeat; }

.deck {
  width: 2px;
}

table {
  background-color: #E5E5FF;
  width: 80px;
  align: center;
  border-collapse: collapse;
  border: 1px solid #898999;
}

td {
  text-align: center;
}

.playable {
  background-color: #FFE5FF;
}

.disabled {
  opacity: 0.5;
}
