// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  background-color: #E5E5FF;
  width: 80px;
  align: center;
  border-collapse: collapse;
  border: 1px solid #898999;
}

td {
  text-align: center;
}

div#deck-cards, div#player-cards, div#computer-cards, div#buttons {
  float: left;
  display: inline;
  width: 120px;
}

div#table-cards {
  float: left;
  display: inline;
  width: 180px;
}

.playable {
  background-color: #FFE5FF;
}

.disabled {
  background-color: #CFCFCF;
  color: #919191;
}
